<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>

    {% if existing is defined %}
        {% set staticRoot = "../static" %}
        {% set existingData = "true" %}
        {% set hidden = "" %}
        {% set headline = existing.hed %}
        {% set chatter = existing.chatter %}
        {% set input = existing.input %}
        {% set embed_code = "<div data-pym-src='table-test-"+ existing.id +".html'>&nbsp;</div>" %}
        {% set standalone_code = "URLPREFIX/table-test-"+ existing.id +".html" %}
        {% set existingHtml = existing.html %}
        {% set html_preview = existing.html_preview %}
        {% if existing.needIndent == "true" %}
            {% set indentChecked = "checked" %}
        {% else %}
            {% set indentChecked = "" %}
        {% endif %}
    {% else %}
        {% set staticRoot = "static" %}
        {% set existingData = "false" %}
        {% set hidden = "hidden" %}
        {% set headline = "" %}
        {% set chatter = "" %}
        {% set input = "" %}
        {% set embed_code = "" %}
        {% set standalone_code = "" %}
        {% set existingHtml = "" %}
        {% set html_preview = "" %}
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CQ Roll Call HTML Table Generator</title>
    <meta name="description" content="A tool to quickly and easily create accessible HTML tables">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{staticRoot}}/assets/css/main.css">
    <link rel="stylesheet" href="{{staticRoot}}/tablesort.css">
    <link rel="stylesheet" href="{{staticRoot}}/assets/css/pure.css">
</head>
    <body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="jumbotron">
        <div class="container">
            <h1>CQ Roll Call HTML Table Generator</h1>
            <p>Have an spreadsheet that you need to quickly convert to some clean, semantic and accessible HTML tables? Then you've come to the right place!</p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <form role="form">
            <h2>Step 1: Input your CSV file</h2>
            <p>To include bold or italics, place <strong>*asteriks around bold text*</strong> or <em>_underscores around italicized text_</em></p>
            <div class="file-container {{hidden}}">
                <div id="filedrop" class="drag-and-drop">
                    <p>Drag your CSV file here!</p>
                    <p>Or</p>
                    <button id="btn-upload" class="btn btn-primary btn-upload">Select file</button>
                    <input id="fileInput" type="file" class="hidden">
                </div>
            </div>
            <div class="alerts">
                <div class="alert alert-success {{hidden}}">
                    <strong>Hooray!</strong> Your data was successfully imported! Now, modify the options as needed and click the button below to generate your table code!
                </div>
                <div class="alert alert-danger hidden">
                    <strong>Sorry!</strong> That's not a valid file - please ensure to save your data to a CSV file first.
                </div>
            </div>
            <div class="form-group csv-file-contents {{hidden}}">
                <button class="btn btn-primary preview-csv-contents">Preview my CSV contents</button>
                <div class="csv-text-container hidden">
                    <label for="csvText" class="csv-text">Paste your CSV text here:</label>
                    <textarea id="csvText" class="form-control" rows="8">{{input}}</textarea>
                </div>
            </div>
            <div class="step2 {{hidden}}">
                <h2>Step 2: Specify your options</h2>
                <div class="checkbox">
                    <label for="optFirstRowHeaders">
                        <input type="checkbox" id="optFirstRowHeaders" value="" checked> Does the first row contain headings?
                    </label>
                </div>
                <div class="checkbox">
                    <label for="optSortable">
                        <input type="checkbox" id="optSortable" value="" checked> Should the table be sortable? (only if first row contains headings)
                    </label>
                </div>
                <div class="checkbox">
                    <label for="optIndent">
                        <input type="checkbox" id="optIndent" value="" {{indentChecked}}> Do you need to indent your table?
                    </label>
                </div>
                <div class="checkbox">
                    <label for="optCaption">
                        <input type="checkbox" id="optCaption" value="" checked> Does your table need a headline?
                    </label>
                </div>
                <div class="checkbox">
                    <label for="optChatter">
                        <input type="checkbox" id="optChatter" value="" checked> Does your table need chatter?
                    </label>
                </div>
                <div class="form-group caption">
                    <label for="textCaption">Headline</label>
                    <input type="text" id="textCaption" class="form-control" value="{{headline}}">
                </div>
                <div class="form-group chatter">
                    <label for="textChatter">Chatter</label>
                    <input type="text" id="textChatter" class="form-control" value="{{chatter}}">
                </div>
                <button type="button" class="btn btn-primary" onclick="doConvert(false, false)">Create table</button>
            </div>
            <!-- Step 2 -->
        </form>
        <div class="output {{hidden}}">
            <div class="table-output">
                <h2>Step 3: Preview table and indent (optional)</h2>
                <div id="table-preview">{{html_preview|safe}}</div>
            </div>
            <h2>Step 4: Publish</h2>
            <button type="button" class="btn btn-primary pub-table-btn">Publish table</button>
            <div class='code-preview-block {{hidden}}'>
            <h2>Step 5: Get the code</h2>

            <div class="embed">
                <label for="htmlEmbed">Story embed code</label>
                <textarea id="embed-code" style="display:block">{{embed_code}}</textarea>
            </div>
            <div class="standalone">
                <label for="standalone-link">Standalone URL</label>
                <textarea id="standalone-url" style="display:block">{{standalone_code}}</textarea>
            </div>
            <div class="form-group html-output">
                <label for="htmlText">HTML Table Output (for advanced users)</label>
                <textarea id="htmlText" class="form-control" rows="8" onclick="this.focus();this.select()" readonly>{{existingHtml}}</textarea>
            </div>
        </div>
        </div>
    </div>
    <!-- /container -->
    <div class="about">
        <div class="container">
            <h2>What is this?</h2>
            <p>As with most tools, HTML Table Generator arose from a need. How can journalists who manage content themselves create semantic and accessible HTML tables without knowing any HTML? Most people have a much higher familiarity with Excel and can quickly create a
                <abbr tile="Comma Separated Values">CSV</abbr> file, so, why not use them to generate some accessible HTML tables?</p>
            <p>Thanks to the folks who created <a href="https://code.google.com/p/jquery-csv/">jquery-csv</a> for making my job a lot easier!</p>
            <h2>Want to contribute?</h2>
            <p>Have any suggestions on how this tool could be improved? <a href="https://github.com/AdamWills/csv-accessible-table/">Contribute on GitHub</a>.</p>
        </div>
    </div>
    <footer class="content-info">
        <div class="container">
            <p>Created by <a href="http://adamwills.com">Adam Wills</a></p>
            <p>Customized by <a href="http://www.github.com/shmcminn">Sean McMinn</a></p>
        </div>
    </footer>

    <div class='existing-keys' style="display:none">
        {% for item in existing %}
             <p>{{item}}</p>
             <p>{{existing[item]}}</p>
        {% endfor %}
    </div>

    <script>
        var existingTrue = {{existingData}}
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')
    </script>
    <script src='{{staticRoot}}/tablesort.min.js'></script>

    <!-- Include sort types you need -->
    <script src='{{staticRoot}}/sorts/tablesort.number.min.js'></script>
    <script src='{{staticRoot}}/sorts/tablesort.date.min.js'></script>

    <script src="{{staticRoot}}/assets/js/main.js"></script>
    <script src="{{staticRoot}}/assets/js/plugins.js"></script>

    <script>
        {% if existing is defined %}
            {% if existing.wrapper_str == "true" %}
                doConvert(true, true)
            {% else %}
                doConvert(false, true)
            {% endif %}
        {% endif %}

    </script>

</body>

</html>